<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>Name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>Introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>Following</th>
    <th>
      <%= link_to following_user_path(user) do %>
        <p><%= user.followings.count %></p>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>Followers</th>
    <th>
      <%= link_to follower_user_path(user) do %>
        <p><%= user.followers.count %></p>
      <% end %>
    </th>
  </tr>
  <tr>
    <td>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to "Following", user_relationships_path(user.id), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Follow", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </td>
    <td colspan="1"></td>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>